@model IEnumerable<SpaceX.Client.Models.LaunchViewModel>

<!-- Launch Plans - Section 3 -->
<section id="tm-section-3" class="tm-section">
    <div class="row mb-4">
        <header class="col-xl-12"><h2 class="tm-text-shadow">Launch plans</h2></header>
    </div>
    <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FlightNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MissionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaunchDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LaunchSuccess)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RocketId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RocketName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RocketType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkMissionPatch)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkMissionPatchSmall)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkArticle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkVideo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FlightNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MissionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaunchDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LaunchSuccess)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RocketId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RocketName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RocketType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkMissionPatch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkMissionPatchSmall)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkArticle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkVideo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
    </table>
</section>




















@*<div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fab fa-apple tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>HTML Templates</h3>
                    <p>We provide a variety of templates for you at no cost. Please spread a word about <a href="https://plus.google.com/+tooplate" target="_parent">Tooplate</a> website. Thank you.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fas fa-map-pin mr-4 tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>Free Images</h3>
                    <p>Photos by <a href="https://unsplash.com" target="_blank">Unsplash.com</a> website, ac ornare arcu finibus sed. Aenean ultrices nisi sit amet facilisis viverra.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fab fa-fly mr-4 tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>Phasellus eleifend</h3>
                    <p>Phasellus feugiat scelerisque sapien, ac ornare arcu finibus sed. Aenean ultrices nisi sit amet facilisis viverra.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fab fa-linode mr-4 tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>Phasellus eleifend</h3>
                    <p>Phasellus feugiat scelerisque sapien, ac ornare arcu finibus sed. Aenean ultrices nisi sit amet facilisis viverra.</p>
                </div>
            </div>
        </div>
    </div>*@