@model X.PagedList.StaticPagedList<SpaceX.Client.Models.DataViewModel>
<!-- Launch Plans - Section 3 -->
<section id="tm-section-3" class="tm-section">
    <div class="row mb-4">
        <header class="col-xl-12"><h2 class="tm-text-shadow">Launch plans</h2></header>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Flight №
                </th>
                <th>
                    Mission
                </th>
                <th>
                    Launch Date
                </th>
                <th>
                    Rocket Name
                </th>
                <th>
                    Rocket Type
                </th>
                <th>
                    Details
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MissionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaunchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RocketName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RocketType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<body style="background-color:#ffffff">
    <form asp-action="Index" method="get">
        <div class="form-actions" style="padding-bottom:0px">

            Search Reports: <input type="text" name="search" value="@ViewData["Search"]" />
            <input type="submit" value="Search" class="btn btn-outline-dark" />
            @ViewData["ResultsCount"] result(s)

            <p class="d-inline-block">
                <div class="dropdown float-right">
                    <button class="d-inline-flex btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Sort By
                    </button>
                    <ul class="dropdown-menu text-white" style="background-color: #304040">
                        <li class="nav-item btn-outline-dark" style="padding-left:10px">
                            <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByFlight"]"
                               asp-route-search="@ViewData["Search"]">Flight</a>
                        </li>
                        <li class="nav-item btn-outline-dark" style="padding-left:10px">
                            <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByMission"]"
                               asp-route-search="@ViewData["Search"]">Mission</a>
                        </li>
                </div>
            </p>
        </div>
    </form>

    <hr />
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <p class="text-dark">
        <a asp-action="Index"
           asp-route-sort="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageNumber - 1)"
           asp-route-search="@ViewData["Search"]"
           class="btn btn-outline-dark @prevDisabled">
            Previous
        </a>
        &nbsp;@(ViewData["PageNumber"] ?? 1)&nbsp;
        <a asp-action="Index"
           asp-route-sort="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageNumber + 1)"
           asp-route-search="@ViewData["Search"]"
           class="btn btn-outline-dark @nextDisabled">
            Next
        </a>
    </p>
</body>















@*<div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fab fa-apple tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>HTML Templates</h3>
                    <p>We provide a variety of templates for you at no cost. Please spread a word about <a href="https://plus.google.com/+tooplate" target="_parent">Tooplate</a> website. Thank you.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fas fa-map-pin mr-4 tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>Free Images</h3>
                    <p>Photos by <a href="https://unsplash.com" target="_blank">Unsplash.com</a> website, ac ornare arcu finibus sed. Aenean ultrices nisi sit amet facilisis viverra.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fab fa-fly mr-4 tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>Phasellus eleifend</h3>
                    <p>Phasellus feugiat scelerisque sapien, ac ornare arcu finibus sed. Aenean ultrices nisi sit amet facilisis viverra.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
            <div class="media tm-bg-transparent-black tm-border-white">
                <i class="fab fa-linode mr-4 tm-icon-circled tm-icon-media"></i>
                <div class="media-body">
                    <h3>Phasellus eleifend</h3>
                    <p>Phasellus feugiat scelerisque sapien, ac ornare arcu finibus sed. Aenean ultrices nisi sit amet facilisis viverra.</p>
                </div>
            </div>
        </div>
    </div>*@