@model X.PagedList.IPagedList<SpaceX.Client.Models.DataViewModel>
@using X.PagedList.Mvc.Core

<head>
    <link rel="stylesheet" href="~/css/launchList.css" />
</head>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Launch Plans</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    Mission Patch
                </th>
                <td>
                    <img src="@item.LinkMissionPatchSmall" />
                </td>
            </tr>
            <tr>
                <th>
                    Status
                </th>
                <td>
                    @if (item.LaunchDate > DateTime.UtcNow)
                    {
                        <text>Upcoming</text>
                    }
                    else
                    {
                        <text>Past</text>
                    }
                </td>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("FlightNumber", "Index")
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("MissionName", "Index")
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.MissionName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("LaunchDate", "Index")
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.LaunchDate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("RocketName", "Index")
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.RocketName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("RocketType", "Index")
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.RocketType)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("Details", "Index")
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
            </tr>
            <tr>
                <th>
                    PDF
                </th>
                <td>
                    <button onclick="window.open('/Pdf/Get/@item.FlightNumber')" ;return false;"
                            class="btn btn-danger btn btn-default">
                        <i class="fas fa-file-download">Generate PDF</i>
                    </button>
                </td>
            </tr>
            <tr>
                <th>
                    Video
                </th>
                <td>
                    @{
                        var youtubeId = Html.DisplayTextFor(x => item.YouTubeId);
                        var url = "https://www.youtube.com/embed/" + youtubeId;
                    }
                    <iframe src="@url" width="240" height="140" style="border:1px solid black allow=" accelerometer;
                            autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
