@model X.PagedList.IPagedList<SpaceX.Client.Models.DataViewModel>
@using X.PagedList.Mvc.Core

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("FlightNumber", "Index")
            @*@Html.LabelFor(model => item.FlightNumber, "Flight Number", new { @class = "control-label" })*@
        </th>
        <th>
            @Html.ActionLink("MissionName", "Index")
        </th>
        <th>
            @Html.ActionLink("LaunchDate", "Index")
        </th>
        <th>
            @Html.ActionLink("RocketName", "Index")
        </th>
        <th>
            @Html.ActionLink("RocketType", "Index")
        </th>
        <th>
            @Html.ActionLink("Details", "Index")
        </th>
        <th>
            PDF
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaunchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RocketName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RocketType)
            </td>
            <td>
                <section id="tm-section-2" class="tm-section tm-section-carousel">
                    <a href="@item.Details">Info</a>
                </section>
            </td>
            <td>
                <button onclick="window.open('/Pdf/Create/@item.FlightNumber')";return false;"
                        class="btn btn-danger btn btn-default" style="text-decoration:none">
                    <i class="fas fa-file-download"></i>Generate PDF
                </button>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
